@use "variables";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.figtree-regular {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background: variables.$color-dark;
  min-height: 100vh;
}

#root {
  font-family: variables.$main-font;
  min-height: 100vh;
  position: relative;
  padding-bottom: 250px;
}

.desktop {
  display: flex !important;
}

.mobile {
  display: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
.container-fluid {
  width: 100%;
  padding: 0;
}

.container-narrow {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin: 60px 100px;
  p {
    padding: 10px 0;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    hyphens: auto;
  }
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

// Headings

h1 {
  font-size: 40px;
  font-weight: 600;
  color: variables.$color-primary;
  text-align: center;
  position: relative;
  line-height: 40px;
  padding: 30px 0;
  margin-bottom: 60px;
  &:after {
    position: absolute;
    content: "";
    width: 36px;
    height: 7px;
    background-color: variables.$color-primary;
    bottom: 0;
    left: calc(50% - 18px);
  }
}
h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  color: variables.$color-secondary;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

//   Texts

p {
  color: #fff;
  font-family: variables.$main-font;
  font-weight: 300;
  text-align: justify;
}

.text-big {
  font-size: 40px;
  font-weight: 600;
}

.text-emphase {
  font-size: 20px;
  font-weight: 600;
}

.text-labor {
  font-size: 16px;
}

.text-small {
  font-size: 14px;
}

.text-tiny {
  font-size: 12px;
}

span {
  color: #fff;
}

// Images

img {
  width: 100%;
}

// Mise en page

.two-column {
  gap: 40px;
}

.block-left,
.block-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.framed {
  border: 4px solid variables.$color-primary;
  border-radius: 5px;
  padding: 60px;
  display: flex;
  align-items: center;
  .block-left,
  .block-right {
    text-align: center;
  }
}

em {
  font-size: 24px;
  font-weight: 500;
}

// FORM

.label-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid variables.$color-primary;
  border-radius: 10px;
  color: variables.$color-dark;
  &::placeholder {
    color: variables.$color-dark-grey;
    font-style: italic;
  }
}

form.framed {
  border: 2px dotted variables.$color-primary;
  padding: 40px 20px;
  width: 400px;
}

// BUTTON

button {
  font-family: variables.$main-font;
  font-size: 16px;
}

button:disabled {
  cursor: default !important;
  background-color: variables.$color-disabled !important;
  svg {
    stroke: variables.$color-dark-grey !important;
  }
}

.btn-solid {
  border: 0;
  color: #fff;
  background-color: variables.$color-primary;
  padding: 10px 20px;
  border-radius: 60px;
  font-size: 22px;
  cursor: pointer;
  &:hover {
    background-color: adjust-color(variables.$color-primary, $lightness: -10%);
  }
}

// ACCESSIBILITY
*:focus-visible {
  outline-color: variables.$color-accessibility;
  outline-style: solid;
  outline-offset: 0.2rem;
  outline-width: 0.2rem;
}

// MODALS

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: variables.$color-secondary;
  color: variables.$color-dark;
  display: none;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  z-index: 150;
  &.open {
    display: flex;
  }
  .close-icon {
    width: 24px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 155;
  }

  .line {
    height: 3px;
    background-color: variables.$color-dark;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .line-1 {
    transform: rotate(45deg);
    top: 50%; /* Aligner avec la ligne du milieu */
    transform-origin: center; /* Pivot au centre */
    transition: all 0.2s;
  }
  .line-2 {
    opacity: 0; /* Masquer la ligne du milieu */
    transition: all 0.2s;
  }
  .line-3 {
    transform: rotate(-45deg);
    top: 50%; /* Aligner avec la ligne du milieu */
    transform-origin: center; /* Pivot au centre */
    transition: all 0.2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: outline-bounce 0.5s;
  }
}

@keyframes outline-bounce {
  0% {
    outline-offset: 0.25rem;
  }
  50% {
    outline-offset: 0.5rem;
  }
  100% {
    outline-offset: 0.25rem;
  }
}
