@use "variables";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.figtree-regular {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background: variables.$color-dark;
  min-height: 100vh;
}

#root {
  font-family: variables.$main-font;
  min-height: 100vh;
  position: relative;
  padding-bottom: 250px;
}

.desktop {
  display: flex !important;
}

.mobile {
  display: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}
.container-fluid {
  width: 100%;
  padding: 0;
}

.container-narrow {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 100px;
  p {
    padding: 10px 0;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
    hyphens: auto;
  }
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.gap-5 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-0 {
  width: 0%;
}

.w-fit {
  width: fit-content !important;
}

.h-100 {
  height: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-20 {
  padding-bottom: 20px;
}

.fit-content {
  width: fit-content;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.emphase {
  font-size: 54px;
  color: variables.$color-primary;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background: variables.$color-primary;
}

.bg-access {
  background: variables.$color-accessibility;
}

.bg-gray {
  background: variables.$color-dark-grey;
}

.bg-secondary {
  background: variables.$color-secondary;
}

.bg-white {
  background: white;
}

.br-10 {
  border-radius: 10px;
}

.b-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.color-primary {
  color: variables.$color-primary;
}

.color-secondary {
  color: variables.$color-secondary;
}

.color-dark {
  color: variables.$color-dark;
}

.color-yellow {
  color: variables.$color-accessibility;
}

.transition-all {
  transition: all 300ms ease;
}

// Headings

h1 {
  font-size: 40px;
  font-weight: 600;
  color: variables.$color-primary;
  text-align: center;
  position: relative;
  line-height: 40px;
  padding: 30px 0;
  font-family: variables.$main-font;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  color: variables.$color-secondary;
  margin-bottom: 20px;
  font-family: variables.$main-font;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: variables.$main-font;
}

//   Texts

p {
  color: #fff;
  font-family: variables.$main-font;
  font-weight: 300;
  text-align: justify;
}

.text-big {
  font-size: 40px;
  font-weight: 600;
}

.text-emphase {
  font-size: 20px;
  font-weight: 600;
  color: variables.$color-dark;
}

.text-labor {
  font-size: 16px;
}

.text-small {
  font-size: 14px;
}

.text-tiny {
  font-size: 12px;
  margin: 0;
  line-height: 14px;
}

.text-bold {
  font-size: 20px;
  font-weight: 600;
}

.text-white {
  color: #fff;
}

small {
  font-size: 12px;
  color: #fff;
  margin: 5px 0;
}

strong {
  font-weight: 600;
}

.error-msg {
  margin-top: 7px;
  color: #f75252 !important;
  font-weight: 400;
  // display: none;
}

hr {
  display: block;
  clear: both;
  height: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px dotted variables.$color-dark-grey;
}

// Images

img {
  width: 100%;
}

// Mise en page

.two-column {
  gap: 40px;
}

.block-left,
.block-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.framed {
  border: 4px solid variables.$color-primary;
  border-radius: 5px;
  padding: 60px;
  display: flex;
  align-items: center;
  .block-left,
  .block-right {
    text-align: center;
  }
}

.framed-white {
  background: variables.$color-secondary;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

.dotted {
  border: 2px dotted variables.$color-dark-grey;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

em {
  font-size: 24px;
  font-weight: 500;
}

// FORM

.label-hidden {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  padding: 10px 10px;
  font-size: 16px;
  border: 2px solid variables.$color-primary;
  border-radius: 10px;
  color: variables.$color-dark;
  height: 47px;
  &::placeholder {
    color: variables.$color-dark-grey;
    font-style: italic;
  }
}

form.framed {
  border: 2px dotted variables.$color-primary;
  padding: 40px 20px;
  width: 400px;
}

.custom-select {
  .select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 40px;
    position: relative;
  }

  .option {
    padding: 0 30px 0 15px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: white;
    border-top: variables.$color-dark solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background 0.4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
  }

  .option:hover {
    background: variables.$color-accessibility;
  }

  .select:focus .option {
    position: relative;
    pointer-events: all;
  }

  .select:focus .wrapper-select:last-of-type .option {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .select:focus .wrapper-select:first-of-type .option {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input {
    opacity: 0;
    position: absolute;
    left: -99999px;
  }

  input:checked + label {
    order: 1;
    z-index: 2;
    background: variables.$color-secondary;
    border-top: none;
    position: relative;
    border-radius: 10px;
  }

  .select:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid variables.$color-dark;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
  }
}

// Toogle input

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* curseur */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$color-dark-grey;
  transition: background-color 0.4s;
  border-radius: 28px;
}

/* cercle */
.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

/* active */
input:checked + .slider {
  background-color: variables.$color-primary;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

// BUTTON

button {
  font-family: variables.$main-font;
  font-size: 16px;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 60px;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
}

button:disabled {
  cursor: default !important;
  background-color: variables.$color-dark-grey !important;
  color: variables.$color-disabled;
  opacity: 0.5;
  svg {
    stroke: variables.$color-dark-grey !important;
  }
}

.btn-solid {
  background-color: variables.$color-primary;
  border: 2px solid variables.$color-primary;
  &:hover {
    background-color: adjust-color(variables.$color-primary, $lightness: -10%);
  }
}

.btn-light {
  background: none;
  border: 2px solid variables.$color-primary;

  &:hover {
    border-color: adjust-color(variables.$color-primary, $lightness: -10%);
    background-color: variables.$color-bg-dark;
  }
}

.btn-link {
  background: none;
  border: 0;
  color: variables.$color-accessibility;
  font-size: 16px;
  padding: 0;
  padding-bottom: 2px;
  border-bottom: 1px dotted variables.$color-accessibility;
  border-radius: 0;
  text-decoration: none;
  &:hover {
    border-bottom: 1px dashed variables.$color-accessibility;
    background: none;
  }
}

.btn-round {
  padding: 5px;
  height: 50px;
  width: 50px;
  gap: 1px;
  color: variables.$color-dark;
  small {
    margin: 0;
    color: variables.$color-dark;
  }
  &:hover {
    background-color: variables.$color-accessibility;
  }
}

.btn-text {
  padding: 5px;
  background: none;
  border: 0;
  min-height: 30px;
  min-width: 30px;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.btn-arrow {
  text-decoration: none;
  padding: 15px 20px;
  background: variables.$color-secondary;
  color: variables.$color-dark;
  border-radius: 5px;
  p {
    padding: 0;
  }
}

a.btn-arrow {
  &:hover {
    background: variables.$color-accessibility;
  }
}

.link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
  padding-bottom: 2px;
  width: fit-content;
  &:hover {
    border-bottom: 1px dashed white;
  }
}

// ACCESSIBILITY
*:focus-visible {
  outline-color: variables.$color-accessibility;
  outline-style: solid;
  outline-offset: 0.2rem;
  outline-width: 0.2rem;
}

// MODALS

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: variables.$color-secondary;
  color: variables.$color-dark;
  display: none;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  z-index: 600;
  &.open {
    display: flex;
  }
  .close-icon {
    width: 24px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 155;
  }

  .line {
    height: 3px;
    background-color: variables.$color-dark;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .line-1 {
    transform: rotate(45deg);
    top: 50%; /* Aligner avec la ligne du milieu */
    transform-origin: center; /* Pivot au centre */
    transition: all 0.2s;
  }
  .line-2 {
    opacity: 0; /* Masquer la ligne du milieu */
    transition: all 0.2s;
  }
  .line-3 {
    transform: rotate(-45deg);
    top: 50%; /* Aligner avec la ligne du milieu */
    transform-origin: center; /* Pivot au centre */
    transition: all 0.2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  *:focus-visible {
    animation: outline-bounce 0.5s;
  }
}

@keyframes outline-bounce {
  0% {
    outline-offset: 0.25rem;
  }
  50% {
    outline-offset: 0.5rem;
  }
  100% {
    outline-offset: 0.25rem;
  }
}
