@use "variables";

header {
  height: 374px;
  width: 100%;
  position: relative;
  border-bottom: 4px variables.$color-bg-dark solid;
  .cover {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .top-menu {
    position: fixed;
    backdrop-filter: blur(1px);
    z-index: 100;
    height: 92px;
    width: 100%;
    padding: 20px 0;
    background: rgb(2, 53, 96);
    background: -moz-linear-gradient(
      180deg,
      rgba(2, 53, 96, 1) 0%,
      rgba(2, 53, 96, 0) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(2, 53, 96, 1) 0%,
      rgba(2, 53, 96, 0) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(2, 53, 96, 1) 0%,
      rgba(2, 53, 96, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023560",endColorstr="#023560",GradientType=1);
  }
  .container {
    justify-content: space-between;
  }
  .menu-left {
    justify-content: space-between;
    width: 40%;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a.logo {
    width: 170px;
  }
  .logo-img {
    width: 170px;
  }
}

// DROPDOWN MENU

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-item {
  position: relative;
  a:not(.dropdown-btn, .add-btn, .dropdown-item) {
    padding: 5px 0px;
    &:hover {
      border-bottom: 3px solid variables.$color-primary;
    }
  }
}

.add-btn {
  background-color: variables.$color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 60px;
  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

.dropdown-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid variables.$color-secondary;
  &:hover {
    color: #fff;
    background-color: variables.$color-primary;
    border-color: variables.$color-primary;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    svg {
      stroke: #fff;
    }
  }
  svg {
    width: 20px;
    stroke: variables.$color-dark;
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background-color: #fff;
  border-radius: 15px;
  border-top-right-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 240px;
}

.top-dropdown {
  padding: 10px 20px;
  color: variables.$color-dark;
  margin-bottom: 10px;
  p {
    color: variables.$color-dark;
    //padding: 5px 0;
  }
  hr {
    border: none;
    border-top: 2px solid variables.$color-primary;
    margin-bottom: 5px;
  }
  p:first-child {
    margin-bottom: 10px;
  }
}

.dropdown-item {
  padding: 10px 0px;
  margin: 0 20px;
  border-top: 1px solid variables.$color-secondary;
  color: variables.$color-dark;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  &:hover {
    color: variables.$color-primary;
    svg {
      stroke: variables.$color-primary;
    }
  }
  svg {
    stroke: variables.$color-bg-dark;
    width: 16px;
  }
  span {
    gap: 10px;
    svg {
      width: 20px;
    }
  }
}
