@use "variables";

#publishRide {
  h1 {
    margin-bottom: 30px;
  }
}

.new-ride {
  min-height: 400px;
  h2 {
    text-align: center;
    line-height: 38px;
  }
  input.zip {
    width: 40%;
  }
}

.comission {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px 0;
  p {
    text-align: center;
  }
  strong {
    font-size: 30px;
  }
}

.indicator-wrapper {
  margin: 0 25%;
}

.step-indicator {
  .steps {
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    z-index: 10;
    border: 3px solid variables.$color-dark;
  }
  .line {
    width: calc(100% + 10px);
    height: 3px;
    border-radius: 60px;
    z-index: 5;
  }
}

.description-textarea {
  margin-top: 20px;
  width: 70%;
  padding: 10px;
}

.summary {
  h3 {
    border-bottom: 1px solid variables.$color-dark-grey;
    padding-bottom: 10px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: variables.$color-dark;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  padding-bottom: 20px;

  gap: 20px;
  overflow: scroll;
  &.visible {
    display: flex;
  }
  &.hidden {
    display: none;
  }
}

.modal-content {
  position: relative;
  width: 100%;
  padding: 40px 20px 20px;
  position: relative;
  display: flex;
  h2 {
    &.visible {
      display: block;
    }
    &.hidden {
      display: none;
    }
  }
  p {
    color: variables.$color-dark;
  }
}
