@use "variables";

.profil-menu-container {
  position: relative;

  .profil-icon {
    position: relative;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid variables.$color-secondary;
    z-index: 20;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: variables.$color-primary;
      border-color: variables.$color-primary;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      svg {
        stroke: #fff;
      }
    }
    svg {
      width: 22px;
      stroke: variables.$color-dark;
    }
    &.visible {
      opacity: 1;
      transition: opacity 1s;
    }
    // Link profil -> user logged
    &.user-logged {
      overflow: hidden;
      img {
        height: 100%;
      }
      &:hover {
        border-color: #fff;
      }
    }
  }

  // Overlay menu -> user not logged
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: variables.$color-dark;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(200%);
    transition: transform 0.4s ease;
    z-index: 15;

    .back-btn {
      position: absolute;
      top: 30px;
      left: 30px;
      background: none;
      border: none;
      opacity: 0;
      transition: opacity 1s;
      cursor: pointer;
      svg {
        color: #fff;
      }
    }

    &.visible {
      transform: translateY(0);
      .back-btn {
        opacity: 1;
        transition: opacity 1s;
      }
    }
    nav {
      height: 100vh;
      justify-content: center;
      width: 100%;
    }

    ul {
      width: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: white;
          font-size: 28px;
          font-family: variables.$main-font;
          font-weight: 400;
          transition: color 0.3s ease;
          text-align: center;
          padding: 25px 20px;
          width: 100%;
          &:hover {
            background-color: variables.$color-accessibility;
          }
        }
      }
    }
  }
}
