@use "variables";

.profil-menu-container {
  position: relative;

  .profil-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid variables.$color-secondary;
    z-index: 14;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: variables.$color-primary;
      border-color: variables.$color-primary;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      svg {
        stroke: #fff;
      }
    }
    svg {
      width: 20px;
      stroke: variables.$color-dark;
    }

    // Quand le menu est ouvert, animation des barres
    // &.open {

    // }
  }

  // Styles pour l'overlay du menu
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: variables.$color-dark;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(200%);
    transition: transform 0.4s ease;
    z-index: 15;

    &.visible {
      transform: translateY(0);
    }
    nav {
      height: calc(80% - 100px);
      justify-content: center;
      width: 100%;
    }

    ul {
      margin-top: 92px;
      width: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: white;
          font-size: 28px;
          font-family: variables.$main-font;
          font-weight: 400;
          transition: color 0.3s ease;
          text-align: center;
          padding: 25px 0;
          width: 100%;
          &:hover {
            background-color: variables.$color-accessibility;
          }
        }
      }
    }
    .social-icons {
      height: 20%;
      gap: 10px;
      svg {
        stroke-width: 1.5px;
        &:hover {
          color: variables.$color-accessibility;
        }
      }
    }
    .menu-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      height: 100px;
      width: 100%;
      background-color: #ffffff30;
      a {
        position: relative;
        display: block;
        z-index: 1;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          background-color: variables.$color-accessibility;
          z-index: -1;
          bottom: -3px;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
