@use "variables";

// RESPONSIVE

@media screen and (max-width: 1250px) {
  header {
    .menu-left {
      justify-content: space-between;
      width: 45%;
    }
  }
}

@media screen and (max-width: 1200px) {
  section {
    margin: 60px 20px;
  }

  // SEARCH
  .search-block {
    width: calc(100% - 40px);
    left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  header {
    .menu-left {
      justify-content: space-between;
      width: 60%;
    }
  }
  .cover {
    img {
      height: 100%;
      width: auto !important;
    }
  }
}

@media screen and (max-width: 890px) {
  body {
    padding-bottom: 50px;
  }
  #root {
    padding-bottom: 30px;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 20px;
  }
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .flex-row.two-column {
    flex-direction: column;
    gap: 20px;
    .block-left,
    .block-right {
      width: 100%;
    }
  }

  section {
    margin: 20px 20px;
  }

  // HERO

  .hero {
    height: 390px;
    margin-bottom: 200px;
    .cover {
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  .cover-container {
    height: 220px;

    .cover {
      position: relative;
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  // HOME
  .reverse-mobile {
    flex-direction: column-reverse !important;
  }

  .framed {
    padding: 20px !important;
  }

  .title-image {
    img {
      width: 30%;
      margin-bottom: 20px;
    }
  }

  .slogan p {
    text-align: center;
  }

  em {
    font-size: 16px;
  }

  // SEARCH
  .search-block {
    height: auto;
    border-radius: 15px;
    top: calc(100% - 125px);
    bottom: unset;

    padding: 0;
    padding-top: 5px;
    form {
      flex-direction: column;
    }
    .search-left,
    .search-right {
      flex-direction: column;
      width: 100%;
      margin: 0;
      gap: 0;
      padding: 0 15px;
    }
    .input-group {
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid variables.$color-dark;
      border-left: none;

      input[type="text"] {
        margin-right: 0;
        padding-left: 0px;
        width: 100%;
        &.drop-btn {
          width: calc(100% - 10px) !important;
        }
        &:focus-visible {
          border-bottom: none;
        }
      }
    }
    .dropdown-button {
      width: 100%;
      padding: 0;
      height: 60px;
      margin: 0 15px;
      &:hover {
        background: none;
      }
      .drop-btn {
        padding: 10px 0;
        &:before {
          height: 0;
          width: 0;
        }
      }
    }
    .react-datepicker-wrapper {
      width: calc(100% - 24px);
    }
    button[type="submit"] {
      border-radius: 15px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      width: 100%;
      height: 60px;
      margin: 0;
      border-top: 2px solid
        adjust-color(variables.$color-primary, $lightness: -15%);
      span {
        display: inline;
      }
    }
  }

  // FOOTER
  footer {
    position: fixed;
    margin: 0;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: variables.$color-primary;
    height: 60px;
    justify-content: space-between;
    z-index: 400;
    .container {
      width: 100%;
      padding: 0;
      &.desktop {
        display: none;
      }
      &.mobile {
        display: flex;
        border-top: 1px solid variables.$color-secondary;
      }
    }
    .btn-footer {
      width: 50%;
      border: 0;
      display: flex;
      justify-content: space-around;
      background-color: variables.$color-primary;
      padding: 5px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
      &.user-logged {
        width: calc(100% / 3);
      }
      &:hover {
        background-color: variables.$color-accessibility;
      }
      .container-fluid {
        &.desktop {
          display: none;
        }
      }
    }
  }

  .framed {
    margin: 0 20px;
    border-width: 3px;
  }

  .framed .block-left {
    margin-bottom: 20px;
  }

  .new-ride {
    min-height: 0;
    h2 {
      line-height: 24px;
    }
  }

  .summary {
    h2 {
      margin: 0;
    }
    .block-left {
      margin: 0;
    }
    .flex-row.two-column {
      gap: 0;
    }
  }

  #publishRide {
    h1 {
      margin-bottom: 0px;
    }
  }

  .indicator-wrapper {
    margin: 0 15% 30px;
  }

  .step-indicator {
    .steps {
      width: 15px;
      height: 15px;
    }
    .line {
      display: none;
    }
  }
  .description-textarea {
    width: 100%;
    margin-top: 0;
  }
  .filters-layout {
    margin: 20px 0;
    h1 {
      margin-bottom: 0;
    }
  }
  .roadmap-card {
    width: 100%;
  }
  .ride-schedule h3 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .filters {
    margin-top: 0;
    .filter-header {
      padding: 20px;
      position: fixed;
      background: variables.$color-dark;
      width: calc(100% - 15px);
    }
    .filter-header-layout {
      width: calc(100% / 3);
    }
    form {
      margin-top: 60px;
      padding: 20px 20px;
    }
  }
  .modal {
    width: calc(100vw - 50px);
    height: calc(100vh - 40px);
  }
}

@media screen and (max-width: 500px) {
  .new-ride {
    input.zip {
      width: 100%;
    }
    .city {
      flex-direction: column;
    }
  }

  .ride-card {
    .top-ride-card {
      height: fit-content;
    }
    .info-ride {
      width: fit-content;
    }
    .ride-line {
      width: fit-content;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 6px 0;
    }

    .timeline {
      height: 100px;
      width: 3px;
    }
    .timing p {
      margin: 0;
    }
  }

  .ride-details {
    h1 {
      padding-bottom: 0px;
    }
    section {
      margin-bottom: 80px;
      align-items: flex-start;
    }
  }
}
