@use "variables";

h3.next-day {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

.filters-layout {
  justify-content: space-between;
  gap: 70px;
  .modal-overlay-filters {
    position: fixed;
    inset: 0;
    background-color: variables.$color-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    padding-bottom: 20px;

    gap: 20px;
    overflow: scroll;
  }

  .modal-content-filters {
    position: relative;
    width: 100%;
  }
  .back-btn {
    align-self: flex-start;
  }
}

.back-btn {
  background: none;
  padding: 0;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.small-input {
  width: 109px;
  height: 47px;
}

// StartRating

.star-rating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 16px;
  color: variables.$color-dark;
  opacity: 0.2;
  transition: color 0.2s ease;
}

.star.filled {
  color: variables.$color-accessibility;
  opacity: 1;
}

.ride-details {
  h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 0;
  }

  .detail {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  p {
    padding: 5px 0 0;
  }
  .star {
    color: variables.$color-disabled;
    opacity: 0.3;
  }
  .star.filled {
    color: variables.$color-accessibility;
    opacity: 1;
  }
  .map {
    width: 100%;
    height: 100%;
  }
}

/* Overlay derrière la modale */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenu de la modale */
.modal {
  background: variables.$color-secondary;
  width: 70vw;
  height: 70vh;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  h2 {
    color: variables.$color-dark;
  }
}

/* Bouton de fermeture */
.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Texte erreur */
.text-red-500 {
  color: #dc2626;
}
