@use "variables";

.ride-schedule {
  h3 {
    margin-top: 40px;
  }
  h2 {
    margin-bottom: 0;
  }
  .toggle-title {
    border-bottom: 1px solid variables.$color-secondary;
    padding-bottom: 10px;
  }
  .toggle-content {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 1;
    max-height: 1000px; /* suffisamment grand pour contenir le contenu */
  }

  .toggle-content.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.roadmap-card {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  .info-ride {
    width: fit-content;
  }

  .top-ride-card {
    height: 100%;
    padding: 0;
  }
  .ride-line {
    flex-direction: column;
  }
  .timeline {
    height: calc(100% - 20px);
    background-color: #002340;
    display: block;
    width: 3px;
  }
  .hours {
    width: 40px;
  }
  .timing {
    padding-bottom: 5px;
  }

  .times {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .circle {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    margin: 4px 0;
  }

  .line {
    flex: 1;
    width: 2px;
    background: black;
    margin: 2px 0;
  }

  .cities {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
  }

  .meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    gap: 25px;
  }

  .actions {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .icon-button {
    background: variables.$color-disabled;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    &:hover {
      background: variables.$color-secondary;
    }
  }

  .btn-action-ride {
    width: 165px;
  }
}

.card-disabled {
  background: rgb(177 220 255 / 44%);
}
