@use "variables";

// DESKTOP
.search-block {
  background-color: #fff;
  height: 60px;
  width: 1000px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 500px);
  z-index: 10;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 5px 14px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .search-left,
  .search-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-left {
    width: 50%;
    .input-group:first-child {
      border-left: none;
    }
  }
  .search-right {
    gap: 10px;
    width: calc(50% - 60px);
    margin-right: 10px;
    justify-content: space-between;
  }

  svg {
    stroke: variables.$color-dark;
  }
  .input-group {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    padding: 0 10px;
    border-left: 1px solid variables.$color-dark-grey;
    input[type="text"] {
      height: 36px;
      margin: 0 10px;
      border: 0;
      font-size: 20px;
      width: 100%;
      border-bottom: 0 solid variables.$color-accessibility;
      font-weight: 300;
      color: variables.$color-dark;
      &::placeholder {
        color: variables.$color-dark-grey;
        font-style: italic;
        opacity: 0.5;
      }
      &:focus-visible {
        outline-width: 0;
        border-bottom: 0.2rem solid variables.$color-accessibility;
        transition: all 0.05s;
      }
    }
  }
  .dropdown-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(50% - 6px);
    padding: 0 4px;
    height: 50px;

    &:hover {
      background: variables.$color-accessibility;
      .drop-btn {
        color: variables.$color-dark;
      }
    }
    &:last-child .drop-btn {
      color: variables.$color-dark;
    }
  }
  .drop-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    border: none;
    padding: 8px 10px;
    width: 100%;
    position: relative;
    color: variables.$color-dark-grey;
    background: none;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "";
      left: -11px;
      width: 1px;
      height: 36px;
      background: variables.$color-dark-grey;
    }
    svg {
      margin-right: 10px;
    }
  }
  button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    background: variables.$color-primary;
    border-radius: 60px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    cursor: pointer;
    &:hover {
      background-color: adjust-color(
        variables.$color-primary,
        $lightness: -10%
      );
    }
    svg {
      stroke: #fff;
    }
    span {
      color: #fff;
      margin-left: 10px;
      display: none;
    }
  }
  .date-picker {
    width: calc(50% - 20px);
    input {
      height: 36px;
      margin: 0 10px;
      border: 0;
      font-size: 20px;
      width: 100%;
      padding: 0;
      color: variables.$color-dark;
    }
    .material-symbols-outlined {
      color: variables.$color-dark;
    }
  }
}

// DATEPICKER

.react-datepicker-popper {
  left: -35px !important;
}

.react-datepicker {
  font-family: variables.$main-font !important;
  font-size: 16px !important;
  background-color: #fff !important;
  border: none !important;
  border-radius: 15px !important;
  border-top-right-radius: 0px !important;
  margin-top: 15px;
  padding: 10px 20px;

  .react-datepicker__header {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid variables.$color-dark !important;
    border-top-left-radius: 15px;
    padding: 8px 0;
    position: relative;
  }
  .react-datepicker__current-month {
    font-family: variables.$main-font !important;
    font-weight: 600;
    text-transform: capitalize;
    color: variables.$color-dark;
    font-size: 20px;
  }
  .react-datepicker__day-name {
    color: variables.$color-dark;
  }
  .react-datepicker__day {
    color: variables.$color-bg-dark;
  }
  .react-datepicker__day--outside-month {
    color: variables.$color-dark-grey;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    border-radius: 60px;
    background-color: variables.$color-primary;
    color: #fff;
  }
  .react-datepicker__day:not([aria-disabled="true"]):hover,
  .react-datepicker__month-text:not([aria-disabled="true"]):hover,
  .react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
  .react-datepicker__year-text:not([aria-disabled="true"]):hover {
    border-radius: 60px;
    background-color: adjust-color(
      variables.$color-accessibility,
      $lightness: 20%
    );
  }
  .react-datepicker__navigation {
    top: 19px;
  }
  .react-datepicker__navigation--next {
    right: 10px;
  }
  .react-datepicker__navigation--previous {
    left: 10px;
  }
  .react-datepicker__navigation-icon::before,
  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow {
    border-color: variables.$color-dark-grey;
  }
  .react-datepicker__navigation:hover
    .react-datepicker__navigation-icon::before {
    border-color: variables.$color-primary;
  }
  .react-datepicker__day--today,
  .react-datepicker__month-text--today,
  .react-datepicker__quarter-text--today,
  .react-datepicker__year-text--today {
    color: variables.$color-primary;
  }
  .react-datepicker__day--selected.react-datepicker__day--today {
    color: #fff;
    font-weight: 400;
  }
  .react-datepicker__day--disabled,
  .react-datepicker__month-text--disabled,
  .react-datepicker__quarter-text--disabled,
  .react-datepicker__year-text--disabled {
    color: variables.$color-dark-grey;
  }
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  display: none !important;
}

// COUNTER passengers

.counter-block {
  width: 400px;
  justify-content: space-between;
  padding: 15px 20px;
  > p {
    color: variables.$color-dark;
    font-size: 20px;
    font-weight: 400;
  }
  .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid variables.$color-primary;
    overflow: hidden;
    border-radius: 5px;
    p {
      width: 30px;
      text-align: center;
      color: variables.$color-dark;
      font-size: 24px;
      font-weight: 400;
    }
    button {
      border: none;
      height: 33px;
      width: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      color: variables.$color-bg-dark;
      cursor: pointer;
      background: variables.$color-secondary;
      svg {
        width: 18px;
        stroke: 2px;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 1200px) {
  .search-block {
    width: calc(100% - 40px);
    left: 20px;
  }
}

@media screen and (max-width: 890px) {
  .search-block {
    height: auto;
    border-radius: 15px;
    top: calc(100% - 65px);
    bottom: unset;

    padding: 0;
    padding-top: 5px;
    form {
      flex-direction: column;
    }
    .search-left,
    .search-right {
      flex-direction: column;
      width: 100%;
      margin: 0;
      gap: 0;
      padding: 0 15px;
    }
    .input-group {
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid variables.$color-dark;
      border-left: none;

      input[type="text"] {
        margin-right: 0;
        &.drop-btn {
          width: calc(100% - 10px) !important;
        }
        &:focus-visible {
          border-bottom: none;
        }
      }
    }
    .dropdown-button {
      width: 100%;
      padding: 0;
      height: 60px;
      margin: 0 15px;
      &:hover {
        background: none;
      }
      .drop-btn {
        padding: 10px 0;
        &:before {
          height: 0;
          width: 0;
        }
      }
    }
    .react-datepicker-wrapper {
      width: calc(100% - 24px);
    }
    button[type="submit"] {
      border-radius: 15px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      width: 100%;
      height: 60px;
      margin: 0;
      border-top: 2px solid
        adjust-color(variables.$color-primary, $lightness: -15%);
      span {
        display: inline;
      }
    }
  }
}
