@use "variables";

form.user-connect {
  align-items: flex-start;
  .input-group {
    width: 100%;
  }
  button[type="submit"] {
    align-self: center;
    margin-top: 20px;
  }
  fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 5px;
    p {
      padding-top: 0;
      padding-bottom: 20px;
    }
    .input-checkbox-container {
      margin-bottom: 10px;
    }
  }
}

.inline-input {
  justify-content: flex-start;
}

.check-pw {
  margin-bottom: 20px;
  p {
    padding-top: 0;
  }
  svg {
    stroke: variables.$color-secondary;
  }
}

.password-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

// form connection

.icon-input-container {
  position: relative;
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 35px;
  }
  input[type="password"] {
    padding-right: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 4px;
    padding-bottom: 0;

    &::placeholder {
      font-size: 16px;
      letter-spacing: 0;
    }
  }
}
.icone-verif {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
}

.pswd-info {
  margin-top: 8px;
  color: #a9a9a9;
  font-weight: 400;
  display: block;
}

.input-icon-left {
  position: absolute;
  left: 10px;
  top: calc(50% - 18px);
  font-size: 18px;
  color: variables.$color-dark-grey;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: calc(50% - 17px);
  background: none;
  border: none;
  cursor: pointer;
  color: variables.$color-dark-grey;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  &:hover {
    color: variables.$color-accessibility;
  }
}

select {
  padding: 5px 15px 5px 10px;
  font-size: 16px;
  border: 1px solid variables.$color-primary;
  border-radius: 10px;
  height: 41px;
  color: variables.$color-dark;
}

select::-ms-expand {
  display: none;
}

.custom-select-minimal {
  appearance: none; /* Supprimer le style natif */
  -webkit-appearance: none; /* Pour Safari */
  -moz-appearance: none; /* Pour Firefox */

  background-color: white;
  border: 2px solid variables.$color-primary;
  border-radius: 10px;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20,50 70,100 120,50' fill='none' stroke='%23000' stroke-width='20'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 14px;
  color: variables.$color-dark;
  height: 47px;
}

.custom-select-minimal:focus {
  border-color: variables.$color-primary;
  outline: none;
}

// [type="checkbox"] {
//   appearance: none;
//   aspect-ratio: 1;
//   box-sizing: border-box;
//   font-size: 1em;
//   width: 1em;
//   border-radius: 3px;
//   padding: 0;
//   border-color: #fff;
//   padding-right: 5px;
// }

.input-checkbox-container {
  margin-bottom: 20px;
  [type="checkbox"] {
    height: 15px;
    width: 15px;
  }
  label {
    color: #fff;
  }
  a {
    color: variables.$color-accessibility;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #f7c134;
    --active-inner: #023560;
    --focus: 1px #f7c134;
    --border: #fff;
    --border-hover: #f7c134;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 19px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 19px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 5px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 7px;
    height: 11px;
    border: 3px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 2px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}
