// VARIABLES
$color-primary: #42ba92;
$color-secondary: #d7ead6;
$color-dark: #023560;
$color-bg-dark: #002340;
$color-dark-grey: #678eae;
$color-disabled: #edf0f8;
$color-accessibility: #f7c134;

$main-font: "Figtree", sans-serif;
